<div class="container">
    <div class="grid-container">
        <div class="grid-item">
            <div class="grid-container2">
                <div class="grid-item">
                    <img src="./../../../assets/images/image-retro-pcs.jpg" alt="" width="80%" />
                </div>
                <h1>01</h1>
                <div class=""><strong>Revivin Retro PCs</strong></div>
                <p>What happens when old PCs are given modern modern upgrades?</p>
            </div>
        </div>
        <div class="grid-item">
            <div class="grid-container2">
                <div class="grid-item">
                    <img src="./../../../assets/images/image-top-laptops.jpg" alt="" width="80%" />
                </div>
                <h1>02</h1>
                <div class="grid-item"><strong>Top 10 laptops of 2022</strong></div>
                <p>Qur best picks for various needs and budgets.</p>
            </div>
        </div>
        <div class="grid-item">
            <div class="grid-container2">
                <div class="grid-item">
                    <img src="./../../../assets/images/image-gaming-growth.jpg" alt="" width="80%" />
                </div>
                <h1>03</h1>
                <div class="grid-item"><strong>The Growth of Gaming</strong></div>
                <p>How the pandemic has sparked fresh opportunities.</p>
            </div>
        </div>
    </div>
</div>
