<div class="container">

    <div class="grid-container">
       
            <div class="grid-item">
                <img src="./../../../assets/images/image-web-3-desktop.jpg" alt="" />
            </div>
        <h1><strong>The Bright
            Future of
            Web 3.0?</strong></h1>
        <h5> We dive into the next evolution of the web that 
            claims to put the power of the platforms back into the hands of the people.
             But is it really fulfilling its promise?</h5>
        ><button>READ MORE</button>
    </div>

</div>
