<div class="container">
    <div class="grid-container">
            <h1>New</h1>
            <strong>Hydrogen VS Electric Cars</strong>
            <p>Will hydrogen-fueled cars ever catch up to EVs?</p>
        <hr>
        <strong>The Downsides of AI Artistry</strong>
        <p>What are the possible adverse effects of on-demand AI image generation?</p>
        <hr>
        <p> <strong>Is VC Funding Drying Up?</strong> Private funding by VC 
                firms is down 50% YOY. We take a look at
                what that means.
        </p>
    </div>

</div>
